
<body>
    <header>
        <h1>Main</h1>
        <nav>
           <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/dashboard">Panel de Control</a></li>
                <li><a href="/main">Main</a></li>
                <li><a href="/private">Private</a></li>
                <li><a href="/">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
       <img src="/images/gato.jpg" alt="Gato">
        
        <!-- Otras secciones del panel de control podrían ir aquí -->
    </main>
       
</body>
</html>