           
           <h1>Esta página es privada</h1>
           
           <img src="/images/gato1.gif" alt="Gato">

            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/dashboard">Panel de Control</a></li>
                <li><a href="/main">Main</a></li>
                <li><a href="/private">Private</a></li>
                <li><a href="/">Cerrar Sesión</a></li>
            </ul>